{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<section class="form-page">

    <form method="post" class="form-card">

        <h1>Reset Password</h1>

        <p>
            Create a new password for your
            SAMTECH SOLUTIONS account.
        </p>


        <label>
            New Password

            <input
                name="password"
                type="password"
                minlength="8"
                required
                autocomplete="new-password"
            >
        </label>


        <label>
            Confirm New Password

            <input
                name="confirm_password"
                type="password"
                minlength="8"
                required
                autocomplete="new-password"
            >
        </label>


        <button
            class="button"
            type="submit"
        >
            Reset Password
        </button>


        <p>
            <a href="{{ url_for('auth.login') }}">
                Back to Login
            </a>
        </p>

    </form>

</section>

{% endblock %}